<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<div class="container">
  <div>
    {% if user.is_authenticated %}
      {{ user.email }} <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
      <a href="{% url 'login' %}">Войдите</a> или <a href="{% url 'registration' %}">Зарегистрируйтесь</a>
    {% endif %}
  </div>
  {% block body %}{% endblock body %}
  </div>
</body>
</html>